.service-hours-container {
  margin: 2rem 0;
  .service-hours-container-title {
    color: #ff8144;
    text-align: center;
  }

  .service-hours-list {
    display: flex;
    gap: 1rem;
    justify-content: center;
    flex-wrap: wrap;
  }
}
