.header {
  font-family: "Open Sans";
  display: flex;
  justify-content: space-evenly;
  padding-top: 15px;

  h3 {
    font-size: 18px;
    align-self: center;
  }
  .header-links {
    .header-link {
      cursor: pointer;
      text-transform: uppercase;
      margin-right: 40px;
    }
  }
}

@media (max-width: 800px) {
  h3 {
    margin-left: 20px;
  }
  .header-links {
    visibility: hidden;
  }
}
