.header {
  font-family: "Open Sans";
  display: flex;
  justify-content: space-between;
  padding: 1rem 2.5rem;

  h3 {
    font-size: 18px;
    align-self: center;
  }
  .header-links {
    .header-link {
      cursor: pointer;
      text-transform: uppercase;
      margin-right: 40px;
    }
  }
}

@media (max-width: 760px) {
  h3 {
    margin-left: 20px;
  }
  .header-links {
    visibility: hidden;
  }
}
