$heading-font-family: "Montserrat", sans-serif;
$body-font-family: "Open Sans", sans-serif;

.App {
  font-family: $heading-font-family;
  font-size: 14px;
  // h1,
  // h2,
  // h3,
  // h4,
  // h5,
  // h6 {
  //   font-family: $heading-font-family;
  // }
}
