.home-page-menu {
  .home-page-menu-title {
    text-align: center;
    color: #ff8144;
  }

  .menu-links {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    margin: 1rem 0;

    .menu-link {
      font-size: 18.5px;
      cursor: pointer;
    }
  }
}
